@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: white
}
.rale {
  font-family: 'Raleway', monospace;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

footer {
  background-image: url('https://res.cloudinary.com/mindset/image/upload/v1716194379/Rectangle_21838_d3phjv.png') ;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}
.hero {
  background-image: url('https://res.cloudinary.com/mindset/image/upload/v1716194383/Frame_401_oupibi.png') ;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}
.product {
  background-image: url('https://res.cloudinary.com/mindset/image/upload/v1716194382/Frame_400_xgstsu.png') ;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}
.comp {
  background-image: url('https://res.cloudinary.com/mindset/image/upload/v1716194380/Rectangle_4346_wcwi73.png') ;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}
.soft {
  background-image: url('https://res.cloudinary.com/mindset/image/upload/v1716194379/Frame_402_heexzy.png') ;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}